@media screen and (max-width:768px) {
  section header .container{
    display: flex;
    flex-direction: column;
  }

  filme-principal .container{
    padding: 0;
  }

  header.titulos{
    font-size: 12px;
  }

  .botao{
    margin-top: 5px;
    width: 320px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao{
    width: 50%;
  }
  
}